@media screen and (max-width: 480px) {


  @mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @mixin h1 {
    font-size: 80px;
    font-weight: 200;
    position: relative;
    font-family: 'Marcellus', serif;
  }

  @mixin h1_line {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 100%;
    height: 15px;
    background-image: repeating-linear-gradient(-45deg, #b4a983 0px, #b4a983 2px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
    background-size: 10px 10px;
    z-index: 1;
  }

  .only-mobile {
    display: none;
  }

  .onli-mobile02 {
    display: inline;
  }

  .only-mobile03 {
    display: block;
  }

  // ---------------------------
  // 　全体構造
  // ---------------------------

  body {
    // font-size: 14px;
    // line-height: 30px;
    width: 100%;
  }

  // ---------------------------
  // 　共通設定
  // ---------------------------
  // ページタイトル
  .contents {
    @include center;
    width: 100%;
    padding: 0 30px;

    .headline {
      margin-bottom: 50px;
      display: block;
      margin-left: 0;
      margin-right: 0;
      margin-top: 130px;

      h1 {
        font-size: 40px;
      }
    }
  }


  // ---------------------------
  // 　ヘッダー/ナビゲーション
  // ---------------------------
  header {
    .bg-top {
      background:
        url(../images/image03.svg) no-repeat left top / 500px;
    }

    nav {
      padding-left: 30px;

      li {
        font-size: 14px;
        margin-right: 20px;
      }
    }
  }

  // ---------------------------
  // 　フッター
  // ---------------------------
  footer {
    width: 100%;
    height: 500px;
    position: fixed;
    z-index: 1;
    bottom: 0;

    .bg-bottom {
      width: 100%;
      height: 100%;
      // 背景模様
      background:
        url(../images/image05.svg) no-repeat right bottom / 300px;
      animation: yurayura02 10s ease 0s infinite;
      margin-bottom: -30px;
    }
  }

  // ---------------------------
  // 　TOPページ
  // ---------------------------
  #top {
    height: 100vh;

    main {
      height: 100vh;
      width: 100%;
      @include center;

      .flower-top {
        width: 180px;
        padding: 0 30px;
        margin-top: 0;
        top: 100px;
      }

      .text {
        padding-top: 0;
        padding-left: 0;

        img {
          width: 400px;
        }

        p {
          margin-left: 0;
          text-align: left;
          padding: 0 30px;
        }
      }

      .flower-bottom {
        width: 200px;
        position: absolute;
        bottom: 100px;
        left: 0;
      }
    }

  }

  // ---------------------------
  // 　Worksページ
  // ---------------------------
  #works {
    height: 100vh;
    width: 100%;

    .contents {

      p {
        text-align: center;
        margin-right: 0;
        margin-top: -20px;
        margin-bottom: 50px;
      }

      .inner {
        padding-top: 0;

        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 0;
          padding-top: 50px;

          li a {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            font-size: 20px;
            position: relative;
            margin-bottom: 30px;
          }

          li:first-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  // ---------------------------
  // 　Webページ
  // ---------------------------
  #web {
    height: 100vh;
    width: 100%;

    .contents {
      .wrapper {
        flex-direction: column;
        padding-top: 0;

        img {
          width: 300px;
          margin-bottom: 5px;
          position: relative;
          z-index: 9999;
        }

        .left {
          margin-right: 0;
        }
      }
    }
  }


  // ---------------------------
  // 　graphicページ
  // ---------------------------
  #graphic {

    // PC用の構造を非表示ß
    .one,
    .three,
    .four,
    .five {
      display: none;
    }

    .contents {
      height: 100vh;
      width: 100%;
      padding: 0 30px;

      .headline {
        margin-top: 80px;
      }

      h2 {
        font-size: 25px;
        margin-bottom: 10px;
        text-align: center;
      }

      .wrap-vertical {
        width: 100%;
        height: 650px;

        .wrap-vertical__inner {
          padding: 30px;

          .only-mobile03 {
            .wrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-bottom: 30px;
            }
          }

          img {
            width: 200px;
            margin-bottom: 10px;
            border-radius: 10px;
            transition-duration: .5s;
          }

          img:hover {
            border-radius: 50%;
            box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6);
          }
        }
      }

    }
  }


  // ---------------------------
  // 　contactページ
  // ---------------------------

  #contact {
    .contents {
      margin-top: -50px;

      a {
        width: 250px;
      }
    }
  }


  // ---------------------------
  // 　aboutページ
  // ---------------------------
  #about {

    .contents {

      .wrap-vertical {
        width: 100%;
      }

      .wrap-vertical__inner {
        padding: 50px 20px;
        widows: 100%;
        height: 670px;
        overflow-y: scroll;


        .title {
          justify-content: center;
          margin-bottom: 30px;

          .image {
            margin-right: 20px;
            width: 120px;
            height: 120px;

            img {
              width: 90px;
            }
          }

          .text {
            p span {
              font-size: 20px;
              margin-bottom: 0;
            }
          }
        }

        .inner {
          h3 {
            font-size: 17px;
          }

          p {
            margin-right: 0;
            padding-left: 2em;
          }
        }
      }
    }
  }


  // ---------------------------
  // 　WEBサイト / 久米島高校
  // ---------------------------
  #kumejima {

    main {
      .bg-bottom {
        height: auto;
      }
    }

    .contents {
      padding: 0 30px;
      padding-top: 80px;

      .inner {
        text-align: left;
        display: block;
        z-index: 9999;

        .wrapper {
          margin-right: 0;

          .text {
            margin-bottom: 30px;
            @include center;

            img {
              width: 300px;
            }

            a {
              width: 250px;
              height: 45px;
              line-height: 45px;
              font-size: 14px;
            }
          }

          // 画像スライドショー
          .image {
            display: none;
          }
        }

        // 右側コンテンツ
        .wrap-vertical {
          width: 100%;
          height: 450px;
        }

        .wrap-vertical__inner {
          padding: 30px;
        }

        h2 {
          font-size: 20px;
          margin-bottom: 20px;
        }

        h3 {
          font-size: 15px;
          margin-bottom: 10px;
          padding: 5px 10px;
        }

        p {
          margin-bottom: 30px;
        }

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }


  // ---------------------------
  // 　WEBサイト / 800degrees
  // ---------------------------
  // スライドショーの設定
  #pizza {
    .contents {
      padding: 0 30px;
      padding-top: 20px;

      .inner {
        .wrapper {
          margin-bottom: 20px;

          .text {
            margin-right: 0;
            @include center;

            img {
              width: 300px;
            }

            a {
              width: 250px;
              height: 45px;
              line-height: 45px;
              font-size: 14px;
            }
          }

          // 画像スライドショー
          .image {
            display: none;
          }
        }

        // 下コンテンツ
        .wrap-vertical {
          width: 100%;
          height: 450px;
        }

        .wrap-vertical__inner {
          padding: 30px;
        }

        h2 {
          font-size: 20px;
          margin-bottom: 20px;
        }

        h3 {
          font-size: 15px;
          margin-bottom: 10px;
          padding: 5px 10px;
        }

        p {
          margin-bottom: 30px;
        }

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }



  // ---------------------------
  // 　graphic コンテンツページ（スクロールなし）
  // ---------------------------
  #graphicContents {
    .contents {
      padding: 0 30px;
      padding-top: 50px;

      .headline {
        display: none;
      }

      .wrapper {
        .inner {
          flex-direction: column;

          .left {
            margin-right: 0;
            margin-bottom: 20px;
            position: relative;
            z-index: 999;
          }

          .wrap-vertical {
            width: 100%;
            height: 450px;
            background-color: rgba(255, 255, 255, .6);

            .wrap-vertical__inner {
              overflow-y: scroll;
              width: 100%;
              padding: 30px;

              h3 {
                font-size: 15px;
                margin-bottom: 10px;
                padding: 5px 10px;
                padding-left: 20px;
              }

              p {
                margin-bottom: 30px;
              }
            }
          }

        }
      }
    }

    // 画像のサイズ指定
    .logo02 {
      .left {
        img:first-child {
          width: 180px;
        }

        img:last-child {
          width: 250px;
        }

      }
    }

    .logo01 {
      .left {
        img:first-child {
          width: 300px;
        }

        img:last-child {
          width: 250px;
        }
      }
    }

  }



  // ---------------------------
  // 　graphic コンテンツページ（スクロールあり）
  // ---------------------------
  #graphicContents {

    .poster01,
    .postcard01,
    .flyer01,
    .flyer02,
    .flyer03,
    .flyer04,
    .book01,
    .book02,
    .book03,
    .book04,
    .namecard01,
    .namecard02,
    .menu01 {
      padding: 0 30px;
      padding-top: 50px;

      .wrapper {
        .inner {
          width: 100%;
          flex-direction: column;

          .left {
            margin-right: 0;
            position: relative;
            z-index: 999;

            img {
              width: 250px;
            }
          }

          .wrap-vertical {
            width: 100%;
            height: 400px;
            background-color: rgba(255, 255, 255, .6);

            .wrap-vertical__inner {
              width: 100%;
              height: 100%;
              padding: 30px;

              h3 {
                font-size: 15px;
                margin-bottom: 10px;
                padding: 5px 10px;
                padding-left: 20px;
              }

              p {
                margin-bottom: 30px;
              }

              img {
                width: 300px;
              }
            }
          }

        }
      }
    }

    // 画像サイズ調整
    .book03,
    .book04 {
      .wrapper .inner .left img {
        width: 350px;
      }
    }

    .namecard02 {
      .wrapper .inner .left img {
        width: 350px;
      }
    }

  }






  // font-family: 'M PLUS 1p', sans-serif;
  // 100 / 300 / 400 / 700

  // font-family: 'Marcellus', serif;
  // 400











  // font-family: 'M PLUS 1p', sans-serif;
  // 100 / 300 / 400 / 700

  // font-family: 'Montserrat', sans-serif;
  // 200 / 300 / 400



}